.blog-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 4rem;
	margin: 3rem 0;
	grid-row-gap: 4rem;

	@media screen and (max-width: $screen__lg) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: $screen__sm) {
		grid-template-columns: 1fr;
	}
}

.blog-posts-header {
	text-align: center;
}

.blog-grid-home {
	// width: 70%;
	margin: auto;
	// height: 60%;

	@media screen and (max-width: $screen__lg) {
		height: 100%;
	}
}

body.blog {
	.post-wrapper {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		opacity: 0;
		transition: all 0.4s ease-in;
		p {
			height: 100%;
			padding: 1em;
		}

		a.read-more {
			width: 50%;
			text-align: center;
			margin: 0 auto;
		}
	}
}

.blog-post {
	&__image {
		min-height: 24rem;
		width: 100%;
		background-size: cover;
		background-position: center;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	}

	&__text {
		align-self: flex-end;
		display: flex;
		flex-flow: column;
		width: 100%;
		min-height: 24em;

		p {
			flex: 1 1 0;
			margin: 0;
			padding-bottom: 1rem;

			&:first-of-type {
				font-weight: 300;
				margin-bottom: 1rem;
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $color__border-element;
			}
		}

		span {
			display: block;
			font-weight: 300;
			font-size: $font-size__xs;
			color: $color__text--light-grey;
			line-height: 1;
		}
	}

	&:hover {
		.blog-post__image {
			transform: scale(1.1);
		}

		.read-more-overlay {
			opacity: 1;
		}
	}
}

.single {
	article {
		width: 100%;
	}

	.title-wrapper {
		@media screen and (min-width: $screen__lg) {
			align-items: center;
		}
	}

	h3,
	h2 {
		margin-bottom: 2rem;
	}

	.entry-footer {
		display: none;
	}

	.single__post {
		align-items: flex-start;

		@media screen and (max-width: $screen__lg) {
			flex-flow: column;
		}

		.post-thumbnail {
			width: 50%;
			padding-top: 0;
			float: right;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			height: 280px;

			@media screen and (max-width: $screen__lg) {
				width: 100%;
				margin: auto 0 2em;
				order: 1;
			}

			@media screen and (min-width: $screen__lg) {
				margin: 0 0 3em 4em;
				height: 420px;
				align-items: flex-start;
			}

			img {
				margin: auto;
			}
		}

		.post-content {
			width: 100%;
			text-align: left;

			// @include fluid-type($min_width, $max_width, 20px, 22px);

			@media screen and (max-width: $screen__lg) {
				order: 2;
			}

			// p:first-letter {
			// 	font-size: 5em;
			// 	color: $color__main-theme;
			// 	font-weight: 300;
			// 	float: left;
			// 	line-height: 0.65;
			// 	margin: 0.1em 0.1em 0.1em 0;
			// }
		}
	}

	.wyjazd {
		.wyjazd-info {
			p {
				@media screen and (min-width: $screen__md) {
					min-width: 18rem;
					max-width: 24rem;
				}
			}
		}
	}
}

.post-navigation {
	// width: 80%;
	margin: auto;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
	transition: all 0.3s ease-in;

	// @media screen and (max-width: $screen__lg) {
	// 	width: 70%;
	// }

	div {
		display: flex;
		flex-flow: column;
		justify-content: center;

		width: 14em;

		p {
			padding: 0 1rem;
			font-size: $font-size__s;
		}

		&:nth-of-type(2) {
			p {
				text-align: right;
			}
		}
	}

	span {
		display: flex;
		flex-flow: row;
		align-items: center;
	}

	&__prev,
	&__next {
		color: $color__border-input;
	}

	&__prev {
		&:before {
			content: url(../svg/arrow_left.svg);
			display: block;
			line-height: 0;
			margin-right: 0.25em;
		}
	}

	&__next {
		justify-content: flex-end;
		text-align: right;

		&:after {
			content: url(../svg/arrow_right.svg);
			display: block;
			line-height: 0;
			margin-left: 0.25em;
		}
	}
}

// .post-navigation--wide {
// 	animation: navWide 1s forwards;

// 	@media screen and (max-width: $screen__lg) {
// 		@keyframes navWide {
// 			0% {
// 				width: 80%;
// 			}

// 			75% {
// 				width: 100%;
// 			}

// 			100% {
// 				width: 100%;
// 			}
// 		}
// 	}

// 	@media screen and (min-width: $screen__lg) {
// 		@keyframes navWide {
// 			0% {
// 				width: 70%;
// 			}

// 			75% {
// 				width: 100%;
// 			}

// 			100% {
// 				width: 100%;
// 			}
// 		}
// 	}
// }
