.page-template-oferta-page-template {
	.welcome-view {
		img {
			object-position: center bottom;
		}
	}

	.offer-option {
		color: white;
		padding: 2rem;
		border-radius: $border-radius__standard;
		box-shadow: $box-shadow_standard;
		max-width: 640px;
		margin: 0 auto 4rem;

		&--1 {
			background-color: $color__offer-1;
		}
		&--2 {
			background-color: $color__offer-2;
		}
		&--3 {
			background-color: $color__offer-3;
		}
		&--4 {
			background-color: $color__offer-4;
		}

		&__details {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			border-bottom: 2px solid white;
			margin-bottom: 2.75rem;
			padding-bottom: 0.25em;

			p {
				font-weight: 500;
				font-size: $font-size__smallheader;
			}

			&:last-of-type {
				margin-bottom: 1.5rem;
			}
		}

		.name {
			flex: 1 1 100%;
		}

		.price {
			text-align: right;
			flex: 1 1 25%;
		}
	}
}
