.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* CAPTIONS */

.wp-caption-text {
	text-align: center;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

/* GALLERIES */

.gallery {
	margin-bottom: 1.5em;
}

// .gallery-item {
// 	display: inline-block;
// 	text-align: center;
// 	vertical-align: top;
// 	width: 100%;

// 	// Loops to enumerate the classes for gallery columns.
// 	@for $i from 2 through 9 {
// 		.gallery-columns-#{$i} & {
// 			max-width: (100% / $i);
// 		}
// 	}
// }

.gallery-caption {
	display: block;
}

#colophon,
#social-media__mobile-menu {
	.social-media {
		margin-bottom: 4em;

		&__icons {
			display: flex;
			gap: 2rem;

			@media screen and (max-width: $screen__lg) {
				justify-content: center;
			}

			a {
				height: 35px;
				width: 35px;
				transition: all 0.3s ease-in-out;
				padding: 1em;

				&:hover {
					// filter: invert(82%) sepia(14%) saturate(1046%) hue-rotate(92deg)
					// 	brightness(450%) contrast(107%);
					transform: scale(1.1);
				}
			}

			.facebook {
				background-image: url(../svg/facebook20.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}

			.instagram {
				background-image: url(../svg/instagram20.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}

#social-media__mobile-menu {
	margin-top: auto;
}
