.product-template-default {
	.product {
		display: flex;
		flex-flow: column;

		&__top-section {
			display: flex;

			.summary {
				margin-left: 5rem;
			}
		}
	}
}

.single-product-gallery {
	&__wrapper {
		display: flex;
		position: relative;
		overflow: hidden;
		column-gap: 2rem;

		@media screen and (min-width: $screen__lg) {
			width: 65%;
		}
	}

	&__side {
		width: 25%;
	}

	&__main {
		width: 75%;
	}
}

.easyzoom-style a.easyzoom-pop-up {
	position: absolute;
	// right: 25px;
	// bottom: 20px;
	// width: 50px;
	// height: 50px;
	// line-height: 50px;
	display: inline-block;
	background-color: transparent;
	// color: #000;
	// font-size: 16px;
	// text-align: center;
	// border-radius: 100%;
	z-index: 999;
	cursor: zoom-in;

	left: 0;
	width: 100%;
	height: 100%;
}

#sideGallerySlickContainer {
	.slick-arrow {
		color: #262626;
		font-size: 10px;
		line-height: 1;
		cursor: pointer;
		z-index: 9;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border: 1px solid #979797;
		color: #1e1e1e;
		text-align: center;
		border-radius: 100%;
		display: inline-block;
	}

	.slick-current {
		border: 1px solid #ef782f;
	}
}

#mainGallerySlickContainer {
	.slick-slide {
		position: relative;
	}
}
